.leave {
  opacity: 0;
  scale: 0.5;
  transition:
    opacity 0.15s ease-in-out,
    scale 0.15s ease-in-out;
}

.enter {
  opacity: 1;
  scale: 1;
  transition:
    opacity 0.15s ease-in-out 0.15s,
    scale 0.15s ease-in-out 0.15s;

  @starting-style {
    opacity: 0;
    scale: 0.5;
  }
}
