.leave {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.18s ease-out,
    transform 0.18s ease-out;
}

.enter {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.18s ease-out 0.18s,
    transform 0.18s ease-out 0.18s;

  @starting-style {
    opacity: 0;
    transform: translateY(-20px);
  }
}
